/* General */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: url('images/fleurs.png');
/*    animation: arrierePlanAnime 800s ease-in-out infinite;*/
    background-size:cover;
    
}
li {
    list-style: none;
}
li:hover {
    cursor: pointer;
}
a, a:hover{
    text-decoration: none;
    color: black;
}

/* Fixer le menu de navigation */
header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    
}

main{
    margin-top:150px;
}

/* **/


/*
@keyframes arrierePlanAnime {
    0% {
        background-position:0px;
    }
    100% {
        background-position:222222px;
    }
}
*/
ul {
    width: 100%;
    display: flex;
    justify-content:space-around;
    margin: 40px;
    border-radius: 5px 5px 0 0;
}

/* humberger */
.humberger{
    display: block;
    width: 40px;
    height:35px;
    border-color: rgb(245, 246, 248)!important;
    display: flex;
    padding: 0;
    justify-content: center;
    align-items: center;
}

.line {
    display: block;
    width: 25px;
    height: 3px;
    background-color: #f0f8ff;
    position: relative;
}  

.line::before {
    content: '';
    width: 100%;
    height: 3px;
    background-color: aliceblue;
    position: absolute;
    transform: translateY(8px);
    display: block;
   
}
.line::after {
    content: '';
    width: 100%;
    height: 3px;
    background-color: aliceblue;
    position: absolute;
    transform: translateY(-8px);
    display: block;
}

.active .line {
    background-color: transparent;
}
.active .line::before {
    transform: rotateZ(45deg);
    background-color: red;
}
.active .line::after {
    transform: rotateZ(-45deg);
    background-color: red;
}
/* fin humberger */

/* Panier */
#panier {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: red;
    border-radius: 50%;
    color: #fff;
    line-height: 20px;
    font-weight: bold;
    font-size: 14px;
}
h1{
    
    color: rgb(5, 5, 5);
}

/* divProducts */
#divProducts {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px;
}

/* ProductCard */

.productCard{
    width: 320px;
    height: 320px;
    background-color: rgb(233, 224, 232);
    margin-top: 40px;
    border-radius: 10px 10px 0px 0px;
    overflow-y:auto;
    box-shadow: 3px 3px 5px black;
    padding: 10px;    
}

.productCard img {
    width:300px;
    height: 200px;
    border-radius: 10px 10px 0px 0px;

}
.productNamePrice{
    display: flex;
    justify-content:space-between;
    padding: 10px;
    background-color: azure;
}

.productDescription{
   margin: 10px;
   text-align: justify;
}



/* Footer contact */

#contact ul{
    list-style: none;
}
.contact-us{
    width: 200px;
    height: 4Px;
    background-color: #f0f8ff;
    margin:5px auto ;
}

/* fin contact */